body {
  font-family: sans-serif;
  background-color: #d9e5d6;
  /* background-color: #BA9993; */
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b0caaa;
}

.navbar > * {
  margin: 5px;
}

h1 {
  font-family: cursive;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all-products-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 10px;
  margin: 5px;
}

.all-products-image {
  width: 150px;
}

.single-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.single-img {
  width: 30%;
  padding: 10px;
  margin: 5px;
}

.product-description {
  width: 50%;
  font-family: Trebuchet MS, sans-serif;
  font-style: italic;
}
p.a {
  font: Arial 15px/40px Georgia, sans-serif;
}
p.b {
  font: Arial 15px/40px Georgia, sans-serif;
}
button {
  background-color: #aabda0; /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.5s ease;
  outline: none;
  border-radius: 3px;
}

.page-title {
  margin-left: 30px;
  margin-top: 30px;
  font-weight: normal;
}

.cart-view th,
td {
  padding: 20px;
}

.cart-view th {
  text-align: left;
}

.checkout-view {
  margin-left: 30px;
  margin-top: 30px;
}
.checkout-view input {
  width: 40%;
  height: 2em;
  margin: 5px;
}

#order-button {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}

/* #total-row {
  font-weight: bold;
} */

/* .p1 {padding: 1em;} */

button:hover {
  background-color: #94a789;
}

.icon {
  font-size: 2em;
  line-height: 1em;
}
